body {
  font-family: Arial, Geneva, Helvetica, sans-serif;
  background: url(images/ppu_oldschool.jpg) no-repeat fixed center;
  background-size: cover;
  padding: 30px;
  text-align: center;
  color: yellow;
  background-color: grey;
  font-size: larger;
}

/* Creating the formatting for the gameboard */
.tablegrid {
  margin: 35px auto;
  display: table;
  width: 500px;
  height: 475px;
  padding: 6px;
  background: yellow;
  border: 9px solid green;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-spacing: 3px 15px;
}

.tablegrid button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  background: #green;
}

button.red {
  background: #ad0505;
}

button.black {
  background: #000;
  margin-block-end: initial;
  background: black;
  color: white;
}

.player {
  text-transform: capitalize;
  color: #008000;
  background: #fff8dc;
}

#player.black {
  background: #fff8dc;
  color: black;
}

#player.red {
  background: #fff8dc;
  color: red;
}

.info .red {
  color: red;
}

.info .blue {
  color: blue;
}

.play-again {
  display: none;
}
.play-again {
  display: inline-block;
  margin-bottom: 2em;
  height: 40px;
  line-height: 40px;
  width: 50%;
  background: mediumseagreen;
  color: white;
  text-decoration: none;
  font-family: helvetica;
  opacity: 0.9;
}
.play-again:hover {
  opacity: 1;
}

@media (max-width: 600px) {
  .message {
    font-size: 1.3em;
  }

.tablegrid button {
  width: 30px;
  height: 30px;
  }
}

.cell {
  display: table-cell;
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 4px;
}

.cell:hover {
  background:white;
  color:white;
  border-radius: 40px;
}

.row {
  display: table-row;
}

.tablegrid button:hover {
  background:white;
  color:white;
  border-radius: 40px;
}

.tablegrid button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  background: green;
}

button.red {
  background: #ad0505;
}

button.blue {
  background: #000;
}

table.blueTable {
  border: 1px solid #030C11;
  background-color: #EEEEEE;
  width: 100%;
  height: 200%;
}
table.blueTable td, table.blueTable th {
  border: 2px solid #172322;
}
table.blueTable tbody td {
  font-size: 13px;
  color: #333333;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
}
table.blueTable thead th {
  font-weight: bold;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}
