body {
     font-family: Arial, Geneva, Helvetica, sans-serif;
     background: url(ppc_oldschool.jpg) no-repeat fixed center;
     background-size: cover;
     padding: 30px;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-color: #69BAB1B3;
}

.gameboard {
  border: 5px cadetblue solid;
  width: 350px;
  margin: 0 auto;
}
